{{extend 'layout.html'}}

<style>
    
#content { 

	margin-left:15px;
	margin-right:15px;
    
}

#right {
    
    width: 20%; 
    float: right;
    border-left:1px solid rgb(238,238,238);
	border-bottom:1px solid rgb(238,238,238);
	margin-right:15px;
    
}

</style>

<script>
function onAddTag_discover_interest(tag) {

	ajax('ajax_add_discover_interest', ['discover_interest_form'], ':eval');

}

$(document).ready(function() {

	$('#discover_interest_form').tagsInput({
        	
         onAddTag:onAddTag_discover_interest,
         onRemoveTag:onAddTag_discover_interest,
       
        'defaultText':'interests',
        'width':'auto',
        'height':'auto'
        	
    });  
	$("#close-ad-sidebar").click(function() {		
		$("#ad_block_sidebar").fadeToggle();		
	});
	$("#close-ad").click(function() {		
		$("#ad_block").fadeToggle();		
	});
    $("#close-related-interests").click(function() {       
        $("#related-interests").fadeToggle();        
    });
});


</script>

<div id="right">
	<div style="border:1px solid rgb(235,235,235);background-color:rgb(246,250,255);padding:15px;" id="ad_block_sidebar">
    	<a class="close" id="close-ad-sidebar" href="#">&times;</a>
        <div id="promoted_list">
            {{for thread in promoted_thread_array:}}
            <a href="/thread/{{=thread['url_title']}}"><h5>{{=thread['title']}}</h5></a>
            {{pass}}          
        </div>
    </div>

</div>

<div id="content">
	<h3>Discover</h3><a href=""><i class="btn icon-random" style="float:right;"></i></a><hr>
    <div style="margin-right:16px;" id="div_discover_interest"><input name = "discover_interest" type="text" id="discover_interest_form" /></div><br>   

	<div class="well" id="related-interests">
        <a class="close" id="close-related-interests" href="#">&times;</a>
        related collections...tags...users..posts... etc
        trending collections..tags..etc
        {{for x in range(5):}}
            <h5>related interest {{=x}}</h5>
        {{pass}}   
    </div>
    
    <p class="lead">filters</p>
    <p>filter type</p>
    
    <p class="btn">post</p>
    <p class="btn">list</p>
    <p class="btn">grid</p>


    <hr>
    
	<div style="border:1px solid rgb(235,235,235);background-color:rgb(246,250,255);padding:15px;" id="ad_block">
    	<a class="close" id="close-ad" href="#">&times;</a>
        <div id="promoted_list">
            {{for thread in promoted_thread_array:}}
            <a href="/thread/{{=thread['url_title']}}"><h5>{{=thread['title']}}</h5></a>
            {{pass}}          
        </div>
    <br>
    </div>

    <div id="discover-block">
    {{for x in range(10):}}
        <a><h4>thread {{=x}}</h4></a>
    {{pass}}
    </div>

    
</div>
