{{extend 'layout.html'}}
<h1>Frequently Asked Questions</h1><hr>
<a>what is lealr</a><br>
<a>what is leal</a><br>
<a>what are threads</a><br>
<a>what are collections</a><br>
<a>what are tags</a><br>
<a>what are followers</a><br>
<a>what are promotions</a><br>
<a>how can i see my content stats</a><br>
<a>what is the feed</a><br>
<a>how can i moderate my collections</a><br>
<a>what are usergroups</a><br>
<a>how can i customize collections</a><br>
<a>how can i send a message</a><br>
<a>what are notifications</a><br>
<a>what is givingfor enabled?</a><br>
<a>what is a voetr committee?</a><br>
<a>what is life?</a><br>

<a>What is lealr</a><br>
<a>What is leal</a><br>
<a>What are followers</a><br>
<a>What are collections</a><br>
<a>What are tags</a><br>
<a>What is the discover page?</a><br>
<a>What is organically organized content</a><br>
<a>How is content sorted</a><br>
<a>What is promoted content</a><br>
<a>Can I turn off ads</a><br>
<a>Can I se my contents stats</a><br>
<a>How do I edit/customize collections</a><br>
<a>What can posts contain</a><br>
<a>What are the rules</a><br>
<a>What are the guidelines</a><br>
<a>How can my content be monetized?</a><br>
	Posts<br>
	Collections<br>
<a>What is givingfor?</a><br>
<a>What is the feed</a><br>
<a>What is mycollections</a><br>
<a>Where can I edit my stuff/account</a><br>
<a>What are the terms</a><br>
<a>What are the privacy terms?</a><br>
<a>What is the transparency?</a><br>
<a>What is Conexus?</a><br>
<a>What is the crowd owned principle? </a><br>
