{{extend 'layout.html'}}
<style> 
a:hover{color:rgb(76,100,119);}
#cke_1_top{display:none;}
#cke_2_top{display:none;}
#cke_3_top{display:none;}
a{cursor: pointer;}
hr{margin:0px;}
h5.collection_tag{font-size:12px;}
td{padding:0px;}
ul.nav li.dropdown:hover > ul.dropdown-menu{display: block;}       
#contentwrapper{width: 100%;}               
#content { //margin: 0 280px 0 180px; /*Margins for content column. Should be "0 RightColumnWidth 0 LeftColumnWidth*/}
#right { 

        float: right;
        width: 255px;
        border-left:1px solid rgb(238,238,238);
        border-bottom:1px solid rgb(238,238,238);
        padding-left:15px;
        padding-right:15px;
        padding-bottom:15px;
}
#left { 
        float: left;
        width: 175px;
        border-right:1px solid rgb(238,238,238);
        border-bottom:1px solid rgb(238,238,238);
        padding-left:15px;
        padding-bottom:15px; 
}
#collapsed-left {
        float: left;
        border-bottom:1px solid rgb(238,238,238);
        border-right:1px solid rgb(238,238,238);
        padding-left:7px;
        padding-right:7px;
}

#collapsed-left:hover {
        float: left;
        padding-left:7px;
        padding-right:7px;
        background-color:rgb(245,245,248);
        border-right:1px solid rgb(235,235,238);
        border-bottom:1px solid rgb(235,235,238)
}
#collapse-left {
        padding-left:5px;
        padding-right:5px;
        float:right;
        border-left:1px solid rgb(238,238,238);
        border-bottom:1px solid rgb(238,238,238);
}
#collapse-left:hover {
        padding-left:5px;
        padding-right:5px;
        float:right;
        background-color:rgb(245,245,248);
        border-left:1px solid rgb(235,235,238);
        border-bottom:1px solid rgb(235,235,238) 
}
.thread-list-item:hover{background-color:rgb(248,248,248);}  
#thread-item-row-1 {
    margin: 0 auto; /* This will center a fixed-width container */
        //width: 500px;
}
#thread-item-picture {
    float: left;
    width: auto;
}
#thread-item-title {float: left; /* You can also set this to float: right; */}
.thread-item-like {
    
    float: right; /* You can also set this to float: right; */
    width: auto;
    margin-left:15px;
    margin-top:5px;

}
.thread-item-dislike {
    float: right; /* You can also set this to float: right; */
    width: auto;
    margin-left:15px;
    margin-top:5px;
}
#thread-item-score {
    float: right; /* You can also set this to float: right; */
    width: auto;
    margin-left:15px;
    margin-top:5px;
}
#thread-item-row-2 {
        //margin: 0 auto; /* This will center a fixed-width container */
        //width: 500px;
}
#thread-item-member {
    
    float: left; /* You can also set this to float: right; */
    width: auto;
    margin-left:5px;
}
#thread-views a {   
    float:left;
    margin-left:15px;
    margin-top:20px;
    color:rgb(210,210,210);
    font-size:12px;
}
#thread-views a:hover {
    color:rgb(190,190,190);
}
.filter_tag_item{ 
    color:rgb(210,210,210); 
}
.filter_collection_item{ 
    color:rgb(210,210,210);  
}
.filter_tag_item:hover{color:rgb(180,180,180)}
.filter_collection_item:hover{color:rgb(180,180,180)}
#thread-item-collections {
    float: left; /* You can also set this to float: right; */
    width: auto;
    margin-left:15px;
}

#thread-item-tags {
    float: left; /* You can also set this to float: right; */
    width: auto;
    margin-left:15px;
}

#thread-item-comment { 
    float: left; /* You can also set this to float: right; */
    width: auto;
    margin-left:15px;
}

#thread-item-share {
    float: right; /* You can also set this to float: right; */
    width: auto;
    margin-left:15px;
    margin-top:-15px
}
#sidebar_add_tag_tagsinput {margin-left:5px;}
#sidebar_add_collection_tagsinput {margin-left:5px;}
#tag-list-item:hover{background-color:rgb(248,248,248);}
#collection-list-item:hover{background-color:rgb(248,248,248);}      
div#create-thread-header form{
    margin-top:5px;
    margin-bottom:-5px;
}   
div#create-collection-header form{
    margin-top:5px;
    margin-bottom:-5px;
}   
#thread_title input{font-size:100px;}
</style>
<script type="text/javascript">
    //sidebar
    function onAddTag_sidebar(tag) {
        ajax('ajax_add_tag_sidebar', ['sidebar_add_tag'], ':eval');
    }
    
    function onAddCollection_sidebar(collection) {
        ajax('ajax_add_collection_sidebar', ['sidebar_add_collection'], ':eval');
    }   

    function add_tag_to_sidebar(text){
        document.getElementById('sidebar_add_tag_tag').value += text;
    }

    function add_collection_to_sidebar(text){
        document.getElementById('sidebar_add_collection_tag').value += text;
    }          
        
    //create_thread
    function onAddTag_thread(tag) {
        ajax('ajax_add_tag_thread', ['thread_add_tag_form'], ':eval');
    }
        
    function onAddCollection_thread(collection) {
        ajax('ajax_add_collection_thread', ['thread_add_collection_form'], ':eval');
    }
    
    //create_collection
    function onAddTag_collcetion(tag) {
        ajax('ajax_add_tag_collection', ['collection_add_tag_form'], ':eval');
    }
            
    //editor functions
    function InsertElement(url, value2, value3) {
        var element = CKEDITOR.dom.element.createFromHtml( '<img src="http://www.lealr.com/lealr/static/images/lealrlogo.png" border="0" title="Hello" />' );
        CKEDITOR.instances.insert_editor.insertElement( element );
        
        if ( editor.mode == 'wysiwyg' ){
            CKEDITOR.instances.insert_editor.insertElement( element );
        }
        else{
            alert( 'You must be in WYSIWYG mode!' );
        }
    } 
      
    function InsertDataToEditor(){
    }
   
    function selection() {
        
        //    var sel = editor.getSelection();
        var selection = CKEDITOR.instances.thread_thread_content.getSelection();
        ranges = selection.getRanges();
        var el = new CKEDITOR.dom.element("div");
        for (var i = 0, len = ranges.length; i < len; ++i) {
            el.append(ranges[i].cloneContents());
        }

        alert( el.getHtml() );
        var element = CKEDITOR.dom.element.createFromHtml( '<img src="http://www.lealr.com/lealr/static/images/lealrlogo.png" border="0" title="Hello" />' );
        CKEDITOR.instances.format_editor.insertElement( element );

    }
    
    //function selection() {
    //var selection = CKEDITOR.instances.thread_thread_content.getSelection();
    //alert( selection.getSelectedElement() );
    //}
     
    function set_editor_view(value) {
        var editor = CKEDITOR.instances.thread_thread_content;
        if ( value == 'Maximize'){
            editor.execCommand('maximize'); 
        }
        if ( value == 'Source'){
            editor.execCommand('source'); 
        }  
        if ( value == 'ShowBlocks'){
            editor.execCommand('showblocks'); 
        }      
    }
    
    $(document).ready(function() {
    var ckeditor = CKEDITOR.replace( 'thread_thread_content',{
        filebrowserBrowseUrl : "{{=URL(request.application, c='default', f='cke_upload_file')}}"
    });
    
    $('#collection_add_tag_form').tagsInput({
        onAddTag:onAddTag_collcetion,
        onRemoveTag:onAddTag_collcetion,
        'defaultText':'tags',
        'width':'auto',
        'height':'auto'     
    });
    
    $('#thread_add_collection_form').tagsInput({
                
        onAddTag:onAddCollection_thread,
        onRemoveTag:onAddCollection_thread,      
        'defaultText':'collections',
        'width':'auto',
        'height':'auto'
                
    });
            
    $('#thread_add_tag_form').tagsInput({
        onAddTag:onAddTag_thread,
        onRemoveTag:onAddTag_thread,     
        'defaultText':'tags',
        'width':'auto',
        'height':'auto'
    });
            
    $('#sidebar_add_tag').tagsInput({
        onAddTag:onAddTag_sidebar,
        onRemoveTag:onAddTag_sidebar,
        'defaultText':'tags',
        'width':'80%',
        'height':'auto'
    });
            
    $('#sidebar_add_collection').tagsInput({   
        onAddTag:onAddCollection_sidebar,
        onRemoveTag:onAddCollection_sidebar,       
        'defaultText':'collections',
        'width':'80%',
        'height':'auto'         
    });
        

    $(".dark-tooltip").tooltip();
    $(".light-tooltip").popover();
    
    $("#close-promoted").click(function() {
        $("#index-notice").fadeToggle();    
    });
    
    $("#close-ad").click(function() {       
        $("#ad_block").fadeToggle();        
    });
    
    $("#collapse-left").click(function() {  
        $("#left").fadeToggle(300);
        $("#collapsed-left").delay(300).fadeToggle(300);
        $('#index-notice').delay(300).css('margin-top', '35px');
        $('#index-notice').css('margin-left', '15px');
    });
    $("#open-left").click(function() {  
        $("#collapsed-left").fadeOut( 300 );    
        $("#left").delay(300).fadeIn( 300 );    
        $('#index-notice').delay(300).css('margin-top', '10px');
        $('#index-notice').css('margin-left', '200px'); 
    });
    
    $('#thread-list').hover(function() {
        $('#left').css('background-color', 'rgb(251, 251, 251)');
        $('#right').css('background-color', 'rgb(251, 251, 251)');
    }, 
                    
    function() {
                    
    });
          
    $( "#create-thread" ).draggable({handle:"#create-thread-header", cursor:"move"});
    $( "#create-collection" ).draggable({handle:"#create-collection-header", cursor:"move"});
    $( "#format-editor-modal" ).draggable({handle:"#format-editor-modal-header", cursor:"move"});     
    $( "#insert-editor-modal" ).draggable({handle:"#insert-editor-modal-header", cursor:"move"}); 

    });

</script>
<div id="collapsed-left" style="display:none;">
    <a id="open-left">
        <div style="">
            <h5 title="expand" style="margin:0px;padding:3px;"> >> </h5>
        </div>
    </a>

</div>

<div id="left">
    <a id="collapse-left"> <h5 style="margin:0px;padding:3px;" title="minimize"> << </h5> </a>
    <br>
    <div id="left-sidebar-links" style="font-family:ubuntu;">    
        <a href="/discover"><h4>discover <i style="margin-top:4px;margin-left:5px;" class="icon-random"></i></h4></a>
        {{if auth.is_logged_in():}}
            <a href="/mycollections"><h4>collections <i style="margin-top:4px;margin-left:5px;" class="icon-th"></i></h4></a>
        {{else:}}
            <a href="/collections"><h4>collections <i style="margin-top:4px;margin-left:5px;" class="icon-th"></i></h4></a>
        {{pass}}
        <a href="/feed"><h4>feed <i style="margin-top:4px;margin-left:5px;" class="icon-align-justify"></i></h4></a>
    </div>    
    <br>
        
    <ul class="nav nav-tabs" id="profile-tab" data-tabs="tabs" style="margin-left:-15px;">        
        <li id="collection-tab" class="active" style="padding-left:15px;"><a href="#collections" data-toggle="tab">collections</a></li>
        <li id="tag-tab"><a href="#tags" data-toggle="tab">tags</a></li>        
    </ul>
        
        <div class="tab-content">
            <div class="tab-pane active" id="collections">
                <div id="div_sidebar_add_collection"><input id ="sidebar_add_collection" name="sidebar_add_collection" type="text" /></div><br>             
                <div class="dropdown" style="float:right;margin-right:15px;">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><b style="margin-right:5px;"class="caret"></b>sort</a>
                    <ul class="dropdown-menu pull-right" style="left:auto;width:158px;min-width:0px;" role="menu" aria-labelledby="dLabel">
                        <li><a tabindex="-1" href="#">trending</a></li>
                        <li><a tabindex="-1" href="#">member count</a></li>
                        <li><a tabindex="-1" href="#">thread count</a></li>
                        <li class="divider"></li>
                        <li><a tabindex="-1" href="#">filter ( and / or )</a></li>
                    </ul>
                </div><hr style="margin-top:10px;"><br>
                
                <div id="collection-list">
                    {{for collection in collection_list:}}
                        <div id="collection-list-item" style="margin-right:15px;">
                            <a href="collection/{{=collection['title'].replace(" ","-")}}" data-trigger="hover" class="dark-tooltip" data-placement="right" title="{{=collection['description']}}">
                                {{=collection['title']}}
                            </a>
                            <a class="filter_collection_item" onclick="add_collection('{{=collection['title']}}');" >+</a>
                        </div>
                    {{pass}}
                    <script>
                        function add_collection(collection){
                            if ($('#sidebar_add_collection').tagExist(collection)) {
                                $('#sidebar_add_collection').removeTag(collection);
                                $( "#collections" ).addClass( "active" );
                                $( "#collection-tab" ).addClass( "active" );
                                $( "#tags" ).removeClass( "active" );
                                $( "#tag-tab" ).removeClass( "active" );
                            }
                            else{
                                $('#sidebar_add_collection').addTag(collection);
                                $( "#collections" ).addClass( "active" );
                                $( "#collection-tab" ).addClass( "active" );
                                $( "#tags" ).removeClass( "active" );
                                $( "#tag-tab" ).removeClass( "active" );
                            }
                        }
                    </script>
                    <br>
                    <p style="text-align:center;"><a>view more</a></p>
                </div>
            </div>
 
            <div class="tab-pane" id="tags">
                <div id="div_sidebar_add_tag"><input name = "sidebar_add_tag" type="text" id="sidebar_add_tag" /></div><br>
                <div class="dropdown" style="float:right;margin-right:15px;">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><b style="margin-right:5px;"class="caret"></b>sort</a>
                    <ul class="dropdown-menu pull-right" style="left:auto;width:158px;min-width:0px;" role="menu" aria-labelledby="dLabel">
                        <li><a tabindex="-1" href="#">trending</a></li>
                        <li><a tabindex="-1" href="#">count</a></li>
                        <li><a tabindex="-1" href="#">and / or</a></li>
                        <li class="divider"></li>
                        <li><a tabindex="-1" href="#">hi</a></li>
                    </ul>
                </div><hr style="margin-top:10px;"><br>

                <div id="tag-list">
                    {{for tag in reversed(tag_thread_list_sorted_by_total_count):}}
                        <div id="tag-list-item" style="margin-right:15px;">
                            <a href="/tags/{{=tag[0]}}" >{{=tag[0]}}</a>
                            <a style="color:rgb(210,210,210);" href="/tags/{{=tag[0]}}"> ( {{=tag[1]}} ) </a>
                            <a class="filter_tag_item" onclick="add_tag_sidebar('{{=tag[0]}}');" >+</a>
                        </div>
                    {{pass}}
                    
                    <script>
                        function add_tag_sidebar(tag){
                            if ($('#sidebar_add_tag').tagExist(tag)) {
                                $('#sidebar_add_tag').removeTag(tag);
                                $( "#tags" ).addClass( "active" );
                                $( "#tag-tab" ).addClass( "active" );
                                $( "#collections" ).removeClass( "active" );
                                $( "#collection-tab" ).removeClass( "active" );
                            }
                            else{
                                $('#sidebar_add_tag').addTag(tag);
                                $( "#tags" ).addClass( "active" );
                                $( "#tag-tab" ).addClass( "active" );
                                $( "#collections" ).removeClass( "active" );
                                $( "#collection-tab" ).removeClass( "active" ); 
                            }
                        }
                    </script>
                    <br>
                    <p style="text-align:center;"><a>view more</a></p>
                </div>
            </div>
        </div>
</div>

<div id="right">
    <br><h3 style="text-align:center"><a style="padding:8px 24px" onclick="ajax('ajax_reset_collection_tags_session_thread_collection', [], ':eval');" class="btn" data-toggle="modal" href="#create-thread" >+ new thread</a></h3>
    {{if auth.is_logged_in():}}
    <h3 style="text-align:center"><a style="padding:8px 24px" onclick="ajax('ajax_reset_collection_tags_session_thread_collection', [], ':eval');" class="btn" data-toggle="modal" href="#create-collection" >+ new collection</a></h3><br>
    {{else:}}
    <h3 style="text-align:center"><a class="btn" data-toggle="modal" href="#login-or-signup" style="padding:8px 24px" >+ new collection</a></h3><br>
    {{pass}}
    <br>
    <div style="border:1px solid rgb(235,235,235);background-color:rgb(246,250,255);padding:15px;" id="ad_block">
        <a class="close" id="close-ad" href="#">&times;</a>
        <div id="promoted_list">
            {{for thread in promoted_thread_array:}}
            <a href="/thread/{{=thread['url_title']}}"><h5>{{=thread['title']}}</h5></a>
            {{pass}}          
        </div>
    </div>
</div>

<div id="contentwrapper">
    <div id="content" style="border-right:1px solid rgb(238,238,238);padding:5px;">
        <div id="index-notice" style="border:1px solid rgb(235,235,235);background-color:rgb(246,250,255);margin-left:200px;margin-right:295px;margin-top:10px;">
            <div id="index-notice-content" style="padding:15px;">
                <a class="close" id="close-promoted" href="#">&times;</a>
                <h1>hi</h1>
            </div>
        </div>
        
        <div style="height:5px;"></div>                                                                               
            <div class="dropdown" style="float:left;margin-right:10px;">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="margin-left:15px;">sort<b style="margin-right:5px;"class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="members">trending</a></li>
                        <li><a href="usergroups">recently</a></li>
                        <li><a href="usergroups">daily</a></li>
                        <li><a href="usergroups">weekly</a></li>
                        <li><a href="usergroups">yearly</a></li>
                        <li><a href="usergroups">alltime</a></li>
                </ul>
            </div>

        <div id="thread-list">
            <hr style="margin-top:10px;">
            <div style="padding:5px;"></div>
            {{for counter, thread in enumerate(reversed(complete_thread_list)):}}

                <div class="thread-list-item" id="thread-list-item-{{=thread['id']}}">
                    <table style="table-layout: fixed;">
                        <tbody>
                            <tr>
                                <td style="padding-left:15px;padding-top:5px;">
                                    <a href="/thread/{{=thread['url_title']}}" style="float:left;"><img class="img-polaroid" src="/lealr/static/images/lealrlogo.png" style="height:48px;"></a>
                                </td>
                                <td style="width:100%">
                                    <div>
                                        <div style="float:left;">
                                            <h5 style="display:inline-block">
                                                <a href="/thread/{{=thread['url_title']}}" style="margin-top:15px;margin-left:15px;">{{=thread['title']}}</a>
                                            </h5>
                                        </div>
                                        <div style="float:left;margin-left:5px;margin-top:10px">-<a style="margin-left:5px;">anonymous</a></div>
                                        {{comment_list=db(db.thread_comment.thread_id == thread['id']).select().as_list()}}
                                        <div id="thread-views"><a style="margin-left:15px;margin-top:10px">{{=len(comment_list)}} comments</a></div>
                                        <div id="thread-views"><a style="margin-left:15px;margin-top:10px;">1,234 views</a></div>
                                        <form style="display:none"><input id ="thread_expand" name="thread_expand-{{=thread['id']}}" value="{{=thread['id']}}" type="hidden"/></form>             
                                        <div id="thread-views"><a style="margin-left:15px;margin-top:10px" onclick="ajax('ajax_expand_thread', ['thread_expand-{{=thread['id']}}'], ':eval');">+</a></div>
                                    </div>
                                    <div style="clear:both;">
                                        <div style="float:left;margin-left:15px;">
                                            <div class="dropdown" style="float:left;margin-left:15px;">
                                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">collections<b style="margin-right:5px;"class="caret"></b></a>
                                                <ul class="dropdown-menu">
                                                    {{for collection in thread['collection_name_array']:}}
                                                        <li><a href="members">{{=collection}}</a></li>
                                                    {{pass}}
                                                </ul>
                                            </div>
                                            <div class="dropdown" style="float:left;margin-left:15px;">
                                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">tags<b style="margin-right:5px;"class="caret"></b></a>
                                                <ul class="dropdown-menu">
                                                    {{tag_list=db(db.thread_tag.thread_id == thread['id']).select()}}
                                                    {{for tag in tag_list:}}
                                                        <li><a href="members">{{=tag['tag']}}</a></li>
                                                    {{pass}}
                                                    <li><a href="members">+ new tag</a></li>

                                                </ul>
                                            </div>

                                        </div>
                                    </div>
                                </td>
                                <td>

                                    <form style="display:none"><input id ="thread_like" name="thread_like-{{=thread['id']}}" value="{{=thread['id']}}" type="hidden"/></form> 
                                    <form style="display:none"><input id ="thread_dislike" name="thread_dislike-{{=thread['id']}}" value="{{=thread['id']}}" type="hidden"/></form>                                 
                                
                                    <h5 style="float:right;margin-right:15px;">
                                        <div id="thread-item-like-{{=thread['id']}}"><a style="margin-left:15px;" onclick="ajax('ajax_like_thread', ['thread_like-{{=thread['id']}}'], ':eval');">like</a></div>
                                    </h5>
                                    <h5 style="float:right;margin-right:15px;">
                                        <div id="thread-item-dislike-{{=thread['id']}}"><a style="margin-left:15px;" onclick="ajax('ajax_dislike_thread', ['thread_dislike-{{=thread['id']}}'], ':eval');">dislike</a></div>
                                    </h5>
                                    <h5 style="float:right;margin-right:15px;">
                                        <a id="thread-{{=thread['id']}}-score" style="margin-left:15px;">0</a>
                                    </h5>
                                    <h5 style="float:right;margin-right:15px;margin-top:-1px;">
                                        <a>share</a>
                                    </h5>
                                    
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <hr>
                </div>
            {{pass}}
        </div>  
        <br><br>
          
        <div style="inline-block;width:100%;margin-left:15px;">
            <a href="more"><p class="lead" style="text-align:center">view more</p></a> 
        </div>
        
    </div>
</div>



<div class="modal fade" id="create-thread" style="display:none;width:50%;left:40%;">
            
    <div class="modal-header" id="create-thread-header">
        <a class="close" data-dismiss="modal">×</a>
        
        <h4 style="margin-bottom:10px;">new thread</h4>
        <div>
        {{=form_create_thread.custom.begin}}
        {{form_create_thread.custom.widget.title['_style'] = 'width:90%; height:40px;'}}
        {{=form_create_thread.custom.widget.title}}
        </div>      

    </div>
                
    <div class="modal-body">
    
        <input name="thread_add_collection_form" id="thread_add_collection_form" />
        <input name="thread_add_tag_form" id="thread_add_tag_form" />
<br>
        <div id="input-options" style="background-color:rgb(220,220,220);">
            
            
            <div class="dropdown" style="float:left;margin-right:10px;">
    
                <a data-toggle="modal" href="#format-editor-modal" onclick="selection()">format</a>
    
            </div>
            
            <div style="float:left;margin-right:10px;">  
                <a class="" data-toggle="modal" href="#insert-editor-modal">insert</a>                          
            </div>
            
            <div class="dropdown" style="float:left;margin-right:10px;">
    
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">view<b style="margin-right:5px;"class="caret"></b></a>
                <ul class="dropdown-menu">
    
                    <li><a onclick="set_editor_view('ShowBlocks')">blocks</a></li>
                    <li><a onclick="set_editor_view('Maximize')">fullscreen</a></li>
                    <li><a onclick="set_editor_view('Source')">source</a></li>
                    
                </ul>
                
            </div>
        </div>
<br>
      
        {{=form_create_thread.custom.widget.thread_content}}
        
    </div>
                
    <div class="modal-footer">
        
        {{form_create_thread.custom.submit['_class'] = 'btn'}}
        {{=form_create_thread.custom.submit}}
        {{=form_create_thread.custom.end}}
        
    </div>
            
</div>

<div class="modal fade" id="create-collection" style="display:none;">
            
    <div class="modal-header" id="create-collection-header">
        <a class="close" data-dismiss="modal">×</a>
        <h4 style="margin-bottom:10px;">new collection</h4>
        
        {{=form_create_collection.custom.begin}}
        {{form_create_collection.custom.widget.title['_style'] = 'width:96%; height:40px;'}}
        {{=form_create_collection.custom.widget.title}}
        
    </div>
                
    <div class="modal-body">
    
        <input name="collection_add_tag_form" id="collection_add_tag_form" />
        {{=form_create_collection.custom.widget.description}}

    </div>
                
    <div class="modal-footer">
        
        {{form_create_collection.custom.submit['_class'] = 'btn'}}
        {{=form_create_collection.custom.submit}}
        {{=form_create_collection.custom.end}} 
        
    </div>
            
</div>


<div class="modal fade" id="format-editor-modal" style="display:none;">
            
    <div class="modal-header" id="format-editor-modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Format</h3>
    </div>
                
    <div class="modal-body">
        <a onclick="selection();">Selection</a>

        give it css <br>
        available css templates <br>

        give it a tag <br>
        tag properties <br>
        what type of selection is it ?<br>
                 what type of tag?<br>
                 is it a div? a text block?<br>
                 cool<br>
                 options??<br>
        <a>view</a>
        <textarea class="text ckeditor" id="format_editor" name="editor3"></textarea>

                 
    </div>
                
    <div class="modal-footer">
        <a href=""><button class="btn" type="button">save</button></a>
    </div>
            
</div>


<div class="modal fade" id="insert-editor-modal" style="display:none;">
            
    <div class="modal-header" id="insert-editor-modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Insert</h3>
    </div>
                
    <div class="modal-body">           
        <ul class="nav nav-tabs">      
            <li class="active"><a href="#block" data-toggle="tab">block</a></li>
            <li><a href="#file" data-toggle="tab">file</a></li>
            <li><a href="#link" data-toggle="tab">link</a></li>
            <li><a href="#media" data-toggle="tab">media</a></li>
        </ul>     
        <div class="tab-content">
            <div class="tab-pane active" id="block">
                <div style="margin-left:15px;">
                <br><br><br><br><br>
                    <a onclick="InsertElement('image', 'url', 'null');">Insert Picture Element</a>

                </div>
            </div>
            
            <div class="tab-pane" id="file">
                <div style="margin-left:15px;">
                    <div class="input-prepend">
                        <span class="add-on"><i class="icon-file"></i></span>
                        <input class="span2" id="prependedInput" type="text" placeholder="http://...">
                        <button class="btn">upload</button>
                        <button class="btn">insert</button>

                    </div>

                    if image, mov, of audio, ask to embed.<br>
                    options??<br>
                </div>
            </div>
            
            <div class="tab-pane" id="link">
                <div style="margin-left:15px;">
                    <form class="form-inline">
                        <div class="input-prepend">

                            <input type="url" class="input-small" placeholder="http://...">
                            <input type="text" class="input-small" placeholder="text">
                            <button type="submit" class="btn">insert</button>
                        
                        </div>
                    </form>
                    link options (open in new tab, open in current window, anchor)<br>
                    convert to media ?<br>
                </div>
            </div>
            
            <div class="tab-pane" id="media">
                <div style="margin-left:15px;">
                    <ul class="nav nav-tabs" id="profile-tab" data-tabs="tabs" style="margin-left;0px;">   
                        <li class="active"><a href="#audio" data-toggle="tab">audio</a></li>               
                        <li><a href="#image" data-toggle="tab">image</a></li>
                        <li><a href="#video" data-toggle="tab">video</a></li>
                    </ul>
                            
                    <div class="tab-content">       
                        <div class="tab-pane active" id="image">
                        
                            <ul class="nav nav-tabs" id="upload-image-tab" data-tabs="tabs" style="margin-left:15px;">        
                                <li class="active"><a href="#link-image" data-toggle="tab">link</a></li>
                                <li><a href="#upload-image" data-toggle="tab">upload</a></li>
                            </ul>
                            
                            <div class="tab-content">       
    
                                <div class="tab-pane active" id="link-image" style="margin-left:25px;">
                                    <div class="input-prepend">
                                        <span class="add-on"><i class="icon-share-alt"></i></span>
                                        <input class="span2" id="prependedInput" type="text" placeholder="http://...">
                                        <button class="btn">insert</button>
                                    </div>
                                </div>    
                                              
                                <div class="tab-pane" id="upload-image" style="margin-left:25px;">
                                    <div class="input-prepend">
                                            <span class="add-on">@</span>
                                            <input class="span2" id="prependedInput" type="text" placeholder="http://...">
                                            <button class="btn">upload</button>
                                            <button class="btn">insert</button>
                                    </div>
                                </div>
                                
                            </div>

                        </div>
                                    
                        <div class="tab-pane" id="video">
                        
                            <ul class="nav nav-tabs" id="upload-video-tab" data-tabs="tabs" style="margin-left:15px;">        
                                <li class="active"><a href="#link-video" data-toggle="tab">link</a></li>
                                <li><a href="#upload-video" data-toggle="tab">upload</a></li>
                            </ul>
                            
                            <div class="tab-content">       
    
                                <div class="tab-pane active" id="link-video" style="margin-left:25px;">
                                    <div class="input-prepend">
                                        <span class="add-on">@</span>
                                        <input class="span2" id="prependedInput" type="text" placeholder="http://...">
                                        <button class="btn">insert</button>
                                    </div>
                                </div>    
                                              
                                <div class="tab-pane" id="upload-video" style="margin-left:25px;">
                                    <div class="input-prepend">
                                            <span class="add-on">@</span>
                                            <input class="span2" id="prependedInput" type="text" placeholder="http://...">
                                            <button class="btn">upload</button>
                                            <button class="btn">insert</button>
                                    </div>
                                </div>
                                
                            </div>

                        </div>
                                    
                        <div class="tab-pane" id="audio">
                        
                            <ul class="nav nav-tabs" id="upload-video-tab" data-tabs="tabs" style="margin-left:15px;">        
                                <li class="active"><a href="#link-audio" data-toggle="tab">link</a></li>
                                <li><a href="#upload-audio" data-toggle="tab">upload</a></li>
                            </ul>
                            
                            <div class="tab-content">       
    
                                <div class="tab-pane active" id="link-audio" style="margin-left:25px;">
                                    <div class="input-prepend">
                                        <span class="add-on">@</span>
                                        <input class="span2" id="prependedInput" type="text" placeholder="http://...">
                                        <button class="btn">insert</button>
                                    </div>
                                </div>    
                                              
                                <div class="tab-pane" id="upload-audio" style="margin-left:25px;">
                                    <div class="input-prepend">
                                            <span class="add-on">@</span>
                                            <input class="span2" id="prependedInput" type="text" placeholder="http://...">
                                            <button class="btn">upload</button>
                                            <button class="btn">insert</button>
                                    </div>
                                </div>
                                
                            </div>

                        </div> 
                    </div> 
                                                       
                    
                </div>
            </div>
            <br><hr>
            <a style="padding:5px;"data-toggle="modal" href="#format-editor-modal">format</a>
            <a style="padding:5px;">view</a>
            <textarea class="text ckeditor" id="insert_editor" name="editor2"></textarea>

        </div>  
    </div>
                
    <div class="modal-footer">
        <a href=""><button class="btn" type="button">insert</button></a>
    </div>
            
</div>

<style>
    .modal-backdrop {background: none;}
</style>
